<div>
    <%if friend_or_not(@user || user) == false %>
        <%= render partial:'friendships/send',locals: {user: @user || user}%>
    <% else %>
        <% if friend_or_not(@user || user).length == 0 %>
            <%= '' %>
        <% else %>
            <span class="friendship-status">
            <%= friend_or_not(@user || user) %>
            </span>
        <% end %>
    <% end %>
</div>